@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide {
  animation: slide infinite 2s;
}
